@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
  vertical-align: bottom;
  height: auto;
}
body, h1, h2, h3, h4, h5, p, ul, figure {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}
a:hover {
  opacity: 1;
}
.wrap {
  overflow: hidden;
  width: 100%;
}

/* header */
.header-fixed {
  position: fixed;
  z-index: 100;
  height: 73px;
  width: 100%;
  background-color: #fff;
}
.header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   padding: 0 9vw;
   height: 100%;
}
.header-left {
  display: flex;
  margin-right: 13px;
}
.header-left img {
  width: 120px;
  height: 35px;
}
.header-left p {
  margin-left: 13px;
}
.header-right .btn-pc {
  width: 315px;
  background-color: rgb(218,107,100);
  color: #fff;
  padding: 15px 37px;
  border-radius: 20px;
}
.header-right .btn-mb {
  display: none;
}

@media(max-width: 780px) {
  .header {
    padding: 0;
  }
  .header-left {
    flex-direction: column-reverse;
  }
  .header-right {
    height: 100%;
  }
  .header-right .btn-pc {
    display: none;
  }
  .header-right .btn-mb {
    display: block;
    background-color: rgb(218,107,100);
    color: #fff;
    width: 85px;
    height: 100%;
    text-align: center;
    line-height: 75px;
  }
}

/* hero */
.hero {
  background-image: url(img/main.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 25px;
}
.hero img {
  height: 95px;
  width: 295px;
  margin-bottom: 50px;
}
.hero p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

/* request */
.request {
  background-color: #EBB94D;
  color: #fff;
  text-align: center;
  padding: 36px 0;
  font-size: 20px;
  white-space: nowrap;
}
.request .red {
  color: #C7314E;
  background-color: #fff;
  font-size: 18px;
  padding: 0;
}
.request .btn {
  font-size: 28px;
  background-color: #DA6B64;
  border-radius: 55px;
  padding: 35px 0 35px;
  margin-bottom: 70px;
  margin-top: 45px;
  display: block;
  width: 74vw;
  position: relative;
  left: 15%;
}
.request p {
  line-height: 1.8;
  margin-top: 23px;
}
.date p {
  line-height: 3;
  white-space: nowrap;
}
.sns {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 23px;
}
.sns li:not(:last-child) {
  margin-right: 3px;
}
.sns li {
  font-size: 5px;
}
.sns li span {
  padding: 5px;
  border-radius: 5px;
}
.twitter {
  background-color: #3495E0;
}
.facebook {
  background-color: #1877F2;
}
.line {
  background-color: #57BC2F;
}

/* question */
.question {
  background-image: url(img/introbottom.jpg);
  background-size: cover;
}
.question-inner {
  padding: 77px 20vw 0;
  text-align: center;
  position: relative;
}
h2 {
  font-size: 28px;
  margin-bottom: 65px;
  position: relative;
  padding: 30px 70px;
  box-sizing: border-box;
}
h2::before,
h2::after {
  content: '';
  width: 50px;
  height: 50px;
}
h2::before {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 3px solid #ECBA4D;
  border-left: 3px solid #ECBA4D;
}
h2::after {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #ECBA4D;
  border-right: 3px solid #ECBA4D;
}
.text p {
  font-size: 20px;
  line-height: 1.6;
}
.text p:not(:last-child) {
  margin-bottom: 33px;
}
.text p:last-child {
  padding-bottom: 125px;
}
.br-mb {
  display: none;
}
.pen {
  background: linear-gradient(transparent 70%, #ECBA4D 70%);
}
.about {
  background-color: #ECBA4D;
  color: #fff;
  width: 80px;
  height:80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  position: absolute;
  left: 47%;
  bottom: -7%;
}

@media(max-width: 780px) {
  .question-inner {
    padding: 50px 2vw 100px;
    margin-top: 60px;
  }
  .br-mb {
    display: block;
  }
  .br-pc {
    display: none;
  }
  .question-inner h2 {
    font-size: 15px;
    font-weight: bolder;
  }
  .text p {
    font-size: 15px;
    font-weight: 700;
  }
  .text p:not(:last-child) {
    margin-bottom: 25px;
  }
  .about {
    bottom: -5%;;
  }
  h2::before,
  h2::after {
  width: 20px;
  height: 20px;
  }
}

/* skill */
.skill {
  background-color: #FEF5E0;
  text-align: center;
}
.skill-inner {
  padding: 120px 0 65px;
}
.skill-inner h2 {
  margin-bottom: 68px;
  margin-right: 20vw;
  margin-left: 20vw;
  font-weight: bold;
  white-space: nowrap;
}
.skill-inner p {
  margin-bottom: 35px;
  font-size: 20px;
}
.box {
  border: 3px solid #ECBA4D;
  background-color: #fff;
  padding-top: 35px; 
  padding-bottom: 45px;
  width: 104vw;
  max-width: 1165px;
  margin: 0 auto;
}
.box + p {
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: bold;
}
.box p {
  font-size: 12px;
  line-height: 1.5;
}
.box-mini {
  margin-right: 30px;
}
.box-last {
  margin-right: 0;
}
.box-pc {
  display: flex;
  justify-content: center;
}
.box-mini img {
  width: 50px;
  height: 50px;
  margin-bottom: 9px;
}
.box-last img {
  width: 130px;
}

@media(max-width: 780px) {
  .skill-inner {
    padding: 110px 0 58px;
  }
  .skill-inner h2 {
    font-size: 18px;
    margin-right: 2vw;
    margin-left: 2vw;
    line-height: 2.2;
    font-weight: bolder;
    margin-bottom: 15px;
  }
  .skill-inner p {
    font-size: 15px;
  }
  .box {
    max-width: 560px;
    width: 83vw;
  }
  .box + p {
    font-size: 15px;
  }
  .box-mini p {
    font-size: 10px;
  }
  .box-pc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
  .box-mini img {
    width: 33px;
    height: 33px;
  }
  .box-last img {
    width: 88px;
  }
}

/* step */
.step {
  background-image: url(img/aboutsecondbgsp.jpg);
  background-position: bottom;
  background-size: cover;
  text-align: center;
  height: 585px;
  color: #fff;
}
.step h3 {
  padding-top: 63px;
  margin-bottom: 35px;
  font-size: 28px;
}
.step p {
  font-size: 20px;
}
.step h3 + p {
  margin-bottom: 24px;
}
.step span {
  color: #ECBA4D;
}
.step-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.step-mini {
  background-color: #fff;
  width: 375px;
  margin-right: 15px;
  border-radius: 10px;
}
.step-mini .step1 {
  background-color: #ECBA4D;
  width: 310px;
  margin: 30px 28px 30px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.step-mini p {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}
.step1 + p {
  margin-bottom: 20px;
}
.step-mini p:last-child {
  margin-bottom: 35px;
}
.blue {
  background-color: #246EA9;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-text {
  color: #fff;
  font-size: 20px;
  margin: auto;
}
.blue-text span {
  color: #ECBA4D;
}
@media(max-width: 780px) {
  .step {
    height: 100vw;
  }
  .step h3 {
    font-size: 18px;
    margin-bottom: 22px;
    line-height: 1.2;
  }
  .step h3 + p {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .step p {
    font-size: 13px;
    font-weight: bold;
  }
  .step-box {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 40px;;
  }
  .step-mini {
    margin-right: 0;
    width: 90vw;
  }
  .step-mini:not(:last-child) {
    margin-bottom: 15px;
  }
  .step-mini .step1 {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.6;
  }
  .step-box .step1 {
    width: 75vw;
  }
  .step h3 + p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .step1 + p {
    margin-bottom: 10px;
  }
  .step-mini p:last-child {
    margin-bottom: 15px;
  }
  .blue {
    height: 95px;
  }
  .blue-text {
    font-size: 12px;
  }
}
/* learn */
.learn {
  text-align: center;
  padding: 65px 0 55px;
}
.learn h3 {
  font-size: 28px;
  margin-bottom: 50px;
}
.learn h3 span {
  font-size: 16px;
}
.learn p {
  font-size: 20px;
  margin-bottom: 43px;
}
.learn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.learn-mini {
  width: 178px;
  height: 178px;
}
.learn-mini:not(:last-child) {
  margin-right: 41px;
}

@media(max-width: 780px) {
  .learn-mini {
    width: 117px;
    height: 117px;
  }
  .learn h3 {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .learn h3 span {
    font-size: 12px;
  }
  .learn p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .learn-box {
    margin-bottom: 20px;
  }
}

/* member */
.member {
  background-image: url(img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  height: 815px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.member-mini {
  width: 360px;
  height: 380px;
  border: 3px solid #fff;
  position: relative;
}
.member h3 {
  font-size: 28px;
  padding-top: 85px;
  margin-bottom: 37px;
}
.member h3 + p {
  margin-bottom: 205px;
}
.member-box {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-mini:not(:last-child) {
  margin-right: 25px;
}
.member-mini img {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  position: absolute;
  top: -45%;
  left: 25%;
}
.member-text {
  padding: 50px 35px;
}
.text-box {
  margin-top: 15px;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}
.member-mini p:first-child {
  margin-bottom: 15px;
}

@media(max-width: 870px) {
  .member {
    font-size: 12px;
    height: 1120px;
  }
  .member h3 {
    font-size: 18px;
  }
  .member h3 + p {
    margin-bottom: 125px;
  }
  .member-box {
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .member-mini {
    width: 98vw;
    height: 175px;
    margin-right: 0;
    border: 2px solid #fff;
  }
  .member-mini:not(:last-child) {
    margin-bottom: 115px;
  }
  .member-mini img {
    width: 120px;
    height: 120px;
    top: -55%;
    left: 39%;
  }
  .member-text {
    padding: 40px 10px 18px;
  }
  .text-box {
    line-height: 1.5;
    margin-top: 10px;
    letter-spacing: 2px;
  }
}

/* study */
.study {
  background-image: url(img/classbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.study h3 {
  color: #fff;
  font-size: 28px;
  padding-top: 45px;
  margin-bottom: 10px;
}
.study h3 + p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 35px;
}
.map-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map {
  border: 2px solid #246EA9;
  margin-right: 30px;
  background-color: #fff;
  margin-bottom: auto;
  width: 370px;
}
.map p {
  font-size: 20px;
  color: #fff;
  background-color: #246EA9;
  padding: 15px 0;
}
.map ul li {
  font-size: 16px;
  border: 1px solid #E5E5E5;
  padding: 10px 0;
}

@media(max-width: 870px) {
  .study {
    background-image: url(img/classbgsp.jpg)
  }
  .study h3 {
    font-size: 18px;
  }
  .study h3 + p {
    font-size: 12px;
  }
  .map-bg {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .map-bg .map:first-child {
    margin-bottom: 15px;
  }
  .map {
    width: 97vw;
  }
  .map p {
    font-size: 15px;
  }
  .map ul li {
    font-size: 12px;
    font-weight: bolder;
  }
}

/* flow */
.flow {
}
.flow h3 {
  text-align: center;
}
.accordion-content .p-gr {
  color: #C1BBAD;
  font-weight: 400;
}
.accordion-content {
  font-weight: bold;
}
@media(max-width: 870px) {
  .flow h3 {
    font-size: 18px;
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .flow h3 + img {
    display: none;
  }
  .accordion-container {
    position: relative;
    width: 95vw;
    border: none;
  }
  .accordion-title{
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 20px 0;
    background-color: #FEF5E0 ;
    position: relative;
    cursor: pointer;
  }
  .accordion-title img {
    width: 40px;
    margin-right: 15px;
    padding-left: 14px;
  }
  .accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    width: 8px;
    height: 8px;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(135deg);
  }
  .accordion-title.open:after {
    transform: rotate(-45deg);
    top: 45%;
  }
  .accordion-content {
    padding-bottom: 15px;
    background-color: #FEF5E0;
    padding-left: 14px;
    padding-right: 20px;
    display: none;
  }
  .accordion-content p {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: bold;
  }
 
  
}
